.home-page {
  padding: 25px 0;
  background-color: #fff;
  height: 100vh;
  
  .guide {
    p {
      font-weight: 500;
      text-align: right;
    }
  
    .ant-row {
      margin-bottom: 15px;
    }
  }
}